<ion-view title="Services" id="page4">
	<ion-content padding="true" class="has-header">
		<ion-slide-box>
			<ion-slide>
				<div class="list card" id="lista-card21">
					<ion-item class="item-avatar" id="lista-list-item1">
						<h2>Item 1</h2>
					</ion-item>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="list card" id="lista-card21">
					<ion-item class="item-avatar" id="lista-list-item1">
						<h2>Item 2</h2>
					</ion-item>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="list card" id="lista-card21">
					<ion-item class="item-avatar" id="lista-list-item1">
						<h2>Item 3</h2>
					</ion-item>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="list card" id="lista-card21">
					<ion-item class="item-avatar" id="lista-list-item1">
						<h2>Item 4</h2>
					</ion-item>
				</div>
			</ion-slide>
		</ion-slide-box>

	</ion-content>
</ion-view>