<ion-view title="Lista">
	<ion-content padding="true" class="has-header">

		<div ng-click="home.swipe()" class="bar bar-header bar-royal">
			<h1 class="title">Swipe</h1>
		</div>

	</ion-content>
</ion-view>